[Unit]
Description=DAEMON RC Car Camera Node (usb webcam + fswebcam)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=treehacks
WorkingDirectory=/home/treehacks/Daemon
ExecStart=/usr/bin/python3 /home/treehacks/Daemon/daemon-cli/firmware-code/profiles/rc_car_pi_arduino/raspberry_pi/usb_camera_daemon_node.py --port 8768 --node-id cam --http-port 8081 --device /dev/video0
Restart=always
RestartSec=1
StandardOutput=append:/home/treehacks/camera_node.log
StandardError=append:/home/treehacks/camera_node.log

[Install]
WantedBy=multi-user.target

